{% load home_tags static wagtailuserbar %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Loading stylesheets dependencies -->
        <link href="{% static 'css/vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Global stylesheets -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/urbana.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap_theme/bootswatch-paper-bootstrap.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}


        {% if outside == 'development' %}
            <!-- livereload development server -->
            <script src="http://docker-machine:35729/livereload.js?snipver=1"></script>
        {% endif %}

    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% wagtailuserbar %}

        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}

        <div class="main container">

            {% breadcrumbs %}

            <!--TODO: check if needed -->
            {% block heading %}
                <div class="page-header">
                    <h1>{{ self.title }}</h1>
                </div>
            {% endblock %}

            {% block content %}{% endblock %}

        </div>

        <!-- Loading js dependencies -->
        <script src="{% static 'js/vendor/jquery-1.9.1.min.js' %}"></script>
        <script src="{% static 'css/vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>
        <!-- Global javascript -->
        <script type="text/javascript" src="{% static 'js/urbana.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
