{% extends "umap/content.html" %}

{% load leaflet_storage_tags i18n %}

{% block maincontent %}
{# include "umap/search_bar.html" #}
{# include "umap/about_summary.html" #}
<!--TODO: return the showcase_map (issue with initial showing and keystrokes handlers) -->

{% block heading %}
{% endblock heading %}

<h2 class="section">{% blocktrans %}Hărți{% endblocktrans %}</h2>
{% if request.user.is_authenticated %}
<h4><a href="{% url 'map_new' %}" class="button half">{% trans "+ Create a map" %}</a></h4>
{% else %}
<p>Aveți nevoie de autorizare pentru creare de hărți. <a class="small" href="{% url 'auth:auth_login' %}">{% trans 'Login' %}</a></p>
{% endif %}
<hr>

    {% include "leaflet_storage/map_list.html" %}

{% endblock maincontent %}
