<!-- TODO: move to the home app ? -->
{% load home_tags static wagtailuserbar %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Loading stylesheets dependencies -->
        <link href="{% static 'css/vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Global stylesheets -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap_theme/bootswatch-paper-bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/urbana.css' %}">

        {% block extra_head %}
            {# Override this in templates to add extra definitions into head #}
        {% endblock %}

        {% if outside == 'development' %}
            <!-- livereload development server -->
            <script src="http://localhost:35729/livereload.js?snipver=1"></script>
        {% endif %}

    </head>

    <body class="{% block body_class %}{% endblock %}">

        <!-- Loading js dependencies -->
        <script src="{% static 'js/vendor/jquery-1.9.1.min.js' %}"></script>
        <script src="{% static 'css/vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>
        <!-- Global javascript -->
        <script type="text/javascript" src="{% static 'js/urbana.js' %}"></script>

        {% block extra_js %}{# Override this in templates to add extra javascript #}{% endblock %}

        {% wagtailuserbar %}

        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}

        {% block pre-container-row %}
        {% endblock %}

        <div class="main container">

            {% breadcrumbs %}

            <div class="row">
                <div class="col-md-5 col-md-push-3">
                    <div class="alert alert-success alert-dismissible" role="alert" style="background-color: lightblue;">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <p class="lead text-center">Beta test version, development in progress</p>
                    </div>
                </div>
            </div>

            <!--TODO: check if needed -->
            {% block heading %}
                <div class="page-header">
                    <h3>{{ self.title }}</h3>
                </div>
            {% endblock %}

            {% block content %}{% endblock %}

        </div>

    </body>
</html>
