################################################################################################
WARNING: Set generated strings for passwords, when uploading this file to the production server
################################################################################################

POSTGRES_PASSWORD=secretpass
POSTGRES_USER=urbana_user
POSTGRES_DB=urbana_db

DJANGO_SECRET_KEY=some_secret_key_string
DJANGO_SETTINGS_MODULE=urbana.settings.env_name

# used to enable features needed only for specific environment
OUTSIDE=env_name