body {

}

.main {
    padding-top: 65px; /* $navbar-height + $padding-vertical; */
    /*min-height: 700px;*/
    margin-bottom: 65px;
}


.navbar {
    background-color: white;
}

.navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
}

/*
TODO: same hover color for other buttons/links(bootstrap override)
including mobile collapsed navbar
*/
.nav>li>a:hover {
    background-color: rgba(152, 210, 240, 0.2);
}

.nav>li.active, li.dropdownactive {
    background-color: rgba(152, 210, 240, 0.2);
}

.nav {
    font-size: 13pt;
}

/*.nav > li > a {
}*/


/* Style pager */
.col-sm-4.pages {
    text-align: center;
}

.col-sm-4.next {
    text-align: right;
}


a.list-group-item {
    clear: both;
    width: 100%;
    overflow: hidden;
    .list-group-item-text {
        margin-top: 1%;
        img {
            float: left;
            margin-right: 2%;
            margin-bottom: 1%;
        }
    }
}


/*About index page*/

.description-jumbotron {
    margin-top: 45px;
    background-color: rgba(152, 210, 240, 0.4);
    text-align: center;
    margin-bottom: -45px;
}

.description-jumbotron p {
    text-align: left;
    margin-left: 35px;
}



/* body image styles - classes supplied by rich text editor */
.body-content {
    width: 100%;
    overflow: hidden;
    clear: both;
    margin-bottom: 1em;
    img {
        margin-bottom: 2%;
        margin-top: 2%;
    }

    img.full-width {
        width: 100%;
    }

    img.left{
        width: 45%;
        margin-right: 5%;
        float: left;
    }

    img.right{
        width: 45%;
        margin-left: 5%;
        float: right;
    }

    h1, h2, h3, h4, h5 {
        clear: both;
    }
}