beautifulsoup4==4.5.3
Django==1.9.7
django-appconf==1.0.2
django-bootstrap-form==3.2.1
django-compressor==2.1
django-debug-toolbar==1.5
django-haystack==2.6.0
django-leaflet-storage==0.8.0rc13
django-machina==0.3.0
django-markdown==0.8.4
django-modelcluster==2.0
django-mptt==0.8.7
django-registration==2.1.2
django-taggit==0.18.3
django-treebeard==4.1.0
django-widget-tweaks==1.4.1
djangorestframework==3.5.3
html5lib==0.999999
livereload==2.4.1
Markdown==2.6.8
olefile==0.44
Pillow==4.0.0
psycopg2==2.6.1
pytz==2016.10
rcssmin==1.0.6
rjsmin==1.0.12
six==1.10.0
sqlparse==0.2.2
tornado==4.4.2
umap==0.1.1
Unidecode==0.4.20
wagtail==1.5.3
Willow==0.3.1
