{% extends "base.html" %}
{% load wagtailcore_tags home_tags wagtailimages_tags %}
{% block content %}
        {% include "home/includes/intro.html" with intro=self.intro only %}
        {% for event in self.events %}
                <a class="list-group-item" href="{% pageurl event %}">
                  <div class="media">
                    {% if event.feed_image %}
                      <div class="media-left">
                        {% image event.feed_image width-150 as img %}
                        <img class="media-object" src="{{ img.url }}" />
                      </div>
                    {% endif %}
                    <div class="media-body">
                      <h4 class="media-heading">{{ event.title }}</h4>
                      <p><strong>{{ event.date_from }}</strong></p>
                      {% if event.search_description %}
                        <p>{{ event.search_description }}</p>
                      {% endif %}
                    </div>
                  </div>
                </a>
        {% endfor %}
{% endblock %}
