{% extends "base.html" %}
{% load wagtailcore_tags home_tags %}

{% block pre-container-row %}

    <div class="jumbotron description-jumbotron">
        <div class="row">
            <h1>Rețeaua Civică Urbană</h1>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-push-3">
            <p>{{ self.description }}</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    {% block heading %}<!-- empty -->{% endblock %}
    {% standard_index_listing calling_page=self %}
{% endblock %}
