{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load social_widgets %}

{% block heading %}
  <div class="page-header">

      <h3>
      {{ self.title }}<br>
      {% if self.date %}<small>{{ self.date }}</small>{% endif %}
    </h3>

    <div class="row">

    <div class="col-sm-9">

          {% for tag in self.tags.all %}
            <a href="{% pageurl self.blog_index %}?tag={{ tag }}"
               class="btn btn-primary btn-xs">
              <i class="glyphicon glyphicon-tag"></i> {{ tag }}
            </a>
          {% endfor %}

    </div>


    <div class="col-sm-3">

      <div style="margin-bottom:5px; margin-top:8px">
            {% social_widget_render "facebook/share_button.html" href=request.build_absolute_uri layout="button" size="large" %}
        </div>
            {% social_widget_render "twitter/share_button.html" href=request.build_absolute_uri size="large" %}

    </div>

</div>



      </div>



{% endblock %}

{% block content %}

    {% if self.body %}
        <div class="body-content">
            {% include "home/includes/streamfield.html" with content=self.body %}
        </div>
    {% endif %}

    {% include "home/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
