{% extends "base.html" %}

{% load wagtailcore_tags home_tags %}

{% block heading %}
<!-- empty -->
{% endblock %}

{% block content %}

    {% if self.body %}
        <div class="body-content">
            {{ self.body|richtext }}
        </div>
    {% endif %}

    <!-- blog_listing_inclusion call signature -->
    {# blog_listing_inclusion kind_of_blog panel_title #}

    {% blog_listing_inclusion 'urban' 'Ultime stiri urbane' %}
    {% blog_listing_inclusion 'network' 'Ultime stirile retelei' %}
    {% blog_listing_inclusion 'initiatives' 'Proiecte curente' %}


{% endblock %}
