{% extends "base.html" %}
{% load home_tags wagtailcore_tags %}
{% load i18n %}
{% load social_widgets %}


{% block heading %}
  <div class="page-header">

    <div class="pull-right">

        <div style="margin-bottom:5px; margin-top:15px">
            {% social_widget_render "facebook/share_button.html" href=request.build_absolute_uri layout="button" size="large" %}
        </div>
            {% social_widget_render "twitter/share_button.html" href=request.build_absolute_uri size="large" %}

    </div>

    <h3>
      {{ self.title }}<br>
    </h3>

  </div>
{% endblock %}


{% block content %}

    {{ self.description|richtext }}

    {% if self.related_documents.all %}
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Files list' %}
                        <span class="small">({% trans 'click to download' %})</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <ul>
                    {% for related_document in self.related_documents.all %}
                        <li><a href="{{ related_document.document.url }}">
                            {{ related_document.document.filename }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
